.accordion__wrapper {
  margin: auto;
}
.item {
  display: block;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.title {
  padding: 13px 0;
  color: #333;
  border-bottom: 1px solid #D9D9D9;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: none;
  padding: 10px;
}
.item.active .content {
  display: block;
}
.item .title:after {
  content: '\25bc';
  font-size: 12px;
}
.item.active .title:after {
  content: '\25b2'; 
}
