$border-radius: 4px;
$stroke-width: 4px;
$scale-factor: 1.03;

.checkbox-wrapper {
	margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: toRem(15);
  max-width: max-content;
 
  input {
    position: absolute;
    opacity: 0;
    max-width: max-content;

  }
  svg{
    width: 15px;
    height: 15px;
    transform: rotate(20deg);
  }
  input:checked + label svg{

  }
  input:checked + label svg path {
    stroke-dashoffset: 0;
  }
  input:checked + label{
	background: $gold;
	border: 2px solid transparent;
  }

  input:focus + label {
    transform: scale($scale-factor);

  }

  input + label {
    border: 2px solid #999;
    min-width: 25px;
    min-height: 25px;
    border-radius: $border-radius;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .check__title{
	font-size: toRem(14);
	color: $black_1;
	font-weight: 400;
	display: inline;
  cursor: pointer;
  }

  input + label:active {
    transform: scale(1.05);
    border-radius: 4px;
	
  }

  input + label svg {
    pointer-events: none;
  }

  input + label svg path {
    fill: none;
    stroke: black;
    stroke-width: $stroke-width;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 101;
    transition: all 250ms cubic-bezier(1, 0, .37, .91);
  }
}
