.wrapper{
    .basket{
        &__container{
            padding-top: toRem(30);
            padding-bottom: toRem(97);
        }
        &__cards{
            @media (min-width:0) and (max-width:$mobile) {
                width: 100%;
            }
        }
        &__wrapper{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 20px;
            &__right{
                border-radius: toRem(6);
                border: 1px solid #D9D9D9;
                background: $grey;
                padding: toRem(30) toRem(15);
                &__button{
                    font-size: toRem(15);
                    font-weight: 500;
                    text-align: center;
                    padding: toRem(11) toRem(30);
                    border-radius: toRem(30);
                    background: $gold;
                    cursor: pointer;
                    width: 100%;
                    margin-bottom: toRem(15);
                    transition: all 0.25s ease;
                    &:hover{
                        background: $goldDark;
                        color: white;
                    }
                }
                &__info{
                    font-size: toRem(12);
                    margin-bottom: toRem(15);
                    max-width: toRem(417);
                    font-weight: 400;
                }
                &__title{
                    font-size: toRem(20);
                    font-weight: 500;
                    margin-bottom: toRem(20);
                }
                &__sale{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: toRem(20);
                    span{
                        font-size: toRem(14);
                        font-weight: 500;
                    
                    }
                }
                &__all__money{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span{
                        font-weight: 500;
                        font-size: toRem(20);
                        color: $mainColor;
                    }
                }

            }
            @media (min-width:0) and (max-width:$pc) {
                flex-direction: column-reverse;
            }
        }
        &__all__select__btn{
            border-radius: toRem(6);
            background:$grey;
            display: flex;
            align-items: center;
            margin-bottom: toRem(5);
            height: 30px;
            
        }
        .checkbox-wrapper{
            padding: toRem(7) toRem(10);
            margin-bottom: 0 !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: toRem(10);
            input + label {
                min-width: 20px;
                min-height: 20px;
                
            }
         }
        &__card{
            border: 1px solid #D9D9D9;
            padding-top:toRem(10) ;
            border-radius: toRem(6);
            padding-bottom:toRem(10) ;
            &__section{
                display: flex;
                align-items: center;
                @include adaptiveValue("gap", 30, 20);

                &--rigth{
                    display: flex;
                    align-items: center;
                    @include adaptiveValue("gap", 30, 20);
                    .price{
                        font-size: toRem(14);
                        font-weight: 500;
                        white-space: nowrap;
                    } 
                    @media (min-width:0) and (max-width:$mobile) {
                        flex-direction: column;
                    }
                }
                @media (min-width:0) and (max-width:$pcSmall) {
                    flex-direction: column;
                    
                }
            }
            &__counter-wrapper{
                margin-right: toRem(10);
            } 
            .checkbox-wrapper{
                padding: toRem(7) toRem(10);
                margin-bottom: 0 !important;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: toRem(45);
                .check__title{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: toRem(48);
                    a{
                        max-width: toRem(461);
                        font-weight: 500;
                        font-size: toRem(14);
                        text-decoration: underline;
                        @media (min-width:0) and (max-width:$mobile) {
                            max-width: toRem(201);
                            line-height: normal;
                        }
                    }
                    .img{
                         width: 50px;
                         img{
                             max-width: max-content ;
                         }
                    }
                    @media (min-width:0) and (max-width:$mobile) {
                        gap: toRem(10);
                    }
                }
                @media (min-width:0) and (max-width:$mobile) {
                gap: toRem(20);
                }
             }
            &__icons{
                margin-top: toRem(11);
                margin-left: toRem(135);
                display: flex;
                gap: toRem(20);
                svg{
                    cursor: pointer;
                    path{
                        transition: all .2s ease;
                    }
                    &:hover path{
                        fill: $gold;
                        stroke: $gold;

                    }
                }
            }
            &__coupon__code {
                margin-top: toRem(39);
                margin-bottom: toRem(5);
            
                &__title {
                    font-size: toRem(12);
                    color: #999;
                    font-weight: 400;
                    margin-bottom: toRem(5);

                }
            
                &__input {
                    position: relative;
                    max-width: toRem(452);
                    height: toRem(40);
                    padding-left: toRem(10);
                    border-radius: toRem(6);
                    border: 1px solid #D9D9D9;
            
                    .inp {
                        width: 88%;
                        height: 100%;
                        border: none;
                        outline: none;
                    }
            
                    .coupon-submit {
                        position: absolute;
                        right: toRem(10);
                        top: 50%;
                        transform: translateY(-50%);
                        background: none;
                        border: none;
                        cursor: pointer;
                        padding: 0;
                        svg {
                            fill: #999;
                        }
                    }
                }
            }

        }
       
    }

}