.wrapper {
  .product__section {
    padding-top: toRem(30);
    @include adaptiveValue("padding-bottom", 60, 20);
    &__title {
      color: $mainColor;
      font-size: toRem(24);
      font-weight: 500;
      text-transform: uppercase;
      border-bottom: 2px solid $mainColor;
      @include adaptiveValue("margin-top", 62, 30);
      @include adaptiveValue("margin-bottom", 82, 40);
      @include adaptiveValue("padding-bottom", 28, 20);
      @media (max-width:$mobile) {
        font-size: toRem(18);
        @include adaptiveValue("margin-top", 62, 30);
        @include adaptiveValue("margin-bottom", 82, 30);
        @include adaptiveValue("padding-bottom", 20, 18);
      }
    }
    &__card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(118);
      margin-bottom: toRem(30);
      &--left {
      }
      &--right {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: toRem(30);
        flex-wrap: wrap;

        &--section--1 {
          &--header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: toRem(25);
            @include adaptiveValue("margin-bottom", 53, 33);
            .sub__title {
              color: var(--black-2);
              font-size: toRem(14);
              font-weight: 400;
            }
            svg {
              cursor: pointer;
              path {
                transition: all 0.2s ease;
              }
              &:hover path {
                stroke: $gold;
                fill: $gold;
              }
            }
          }
          &--bottom {
            .info {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: toRem(20);
              span {
                font-size: toRem(14);
                font-weight: 500;
                color: $mainColor;
              }
            }
          }
          @media (max-width:$mobile) {
            width: 100%;
          }
        }
        &--section--2 {
          border-radius: toRem(6);
          border: 1px solid #d9d9d9;
          background: white;
          padding: toRem(30) toRem(93);
          text-align: center;

          &--price {
            font-size: toRem(24);
            font-weight: 600;
            margin-bottom: toRem(40);
          }
          &--btn{
            margin-top: toRem(30);
            width: 100%;
            @include adaptiveValue("font-size", 16, 14);
          }
          @media (max-width:$mobile) {
            width: 100%;
          }
        }
      }
      @media (max-width:$pc) {
        justify-content: center;
        flex-wrap: wrap;   
      }
    }
  }
  .product__tab {
    &__wrapper {
      width: 550px;
      margin-bottom: toRem(30);
      display: flex;
      @media (max-width:$mobile) {
        width: 100%;
      }
    }
    .categories__title {
      font-size: toRem(14);
      font-weight: 400;
      text-align: center;
      padding: 0 toRem(40);
      @include adaptiveValue("padding-bottom", 14, 5);
      @media (max-width:$mobileSmall) {
        padding: toRem(10) toRem(10);  
      }
    }

    &__content {
      max-width: 685px;
    }
    &__body {
      &__information {
        font-size: toRem(14);
        font-weight: 500;
        color: $mainColor;
      }
      &--header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-size: toRem(14);
          font-weight: 500;
          display: inline-block;
          margin-bottom: toRem(10);
        }
      }
      &__sub__title {
        font-weight: 500;
        margin-bottom: toRem(12);
        @include adaptiveValue("font-size", 16, 14);
      }
      &__rating {
        display: flex;
        gap: toRem(16);
        align-items: center;
        margin-bottom: toRem(20);
        span {
          font-size: toRem(14);
          font-weight: 400;
        }
      }
      &__review {
        display: flex;
        gap: toRem(33);
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: toRem(20);
        span {
          font-size: toRem(14);
          font-weight: 400;
        }
        textarea {
          max-width: toRem(566);
          height: toRem(119);
          padding: toRem(12) toRem(20);
          box-sizing: border-box;
          border: 1px solid #d9d9d9;
          border-radius: 4px;
          border-radius: toRem(6);
          resize: none;
        }
      }
      &__text {
        font-size: toRem(14);
        font-weight: 400;
        margin-bottom: toRem(43);
      }
      &__bottom {
        border-radius: toRem(6);
        border: 1px solid #d9d9d9;
        padding: toRem(20) toRem(10);
        &__title {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
        }
        &__rating {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: toRem(23);
          margin-bottom: toRem(22);
          span {
            font-weight: 600;
            font-size: toRem(14);
          }
        }
        .text {
          font-size: toRem(14);
          font-weight: 400;
        }
      }
    }
    @media (max-width:$pc) {
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
      
    }
  }
  
  .product__swiper__title{
      width: 100%;
      background: $grey;
      font-size: toRem(24);
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      padding-top: toRem(40);
      padding-bottom: toRem(10);
  }
  .delivery{
    &__container{  
    }
    &__cards{ 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: toRem(20);
        @include adaptiveValue("padding-top", 60, 24);     
        @include adaptiveValue("padding-bottom", 30, 24); 
        @media (max-width:$pc) {
          padding-top: toRem(0);
          
        }       
    }
    &__card{

        &__title{
            font-size: toRem(18);
            font-weight: 400;
            margin-bottom: toRem(24);
        }
        &__information{
            position: relative;
            padding: 0 toRem(10);
            border-radius: toRem(6);
            border: 1px solid #D9D9D9;
            background: white;
            max-width: toRem(685);
            min-height: 242px;
            padding: toRem(30) toRem(10);
            &__logos{
                display: flex;
                justify-content: space-between;
                gap: toRem(20);
                position: absolute;
                right: toRem(10);
                top:toRem(85);
                .logo{
                    &__img{
                        width: 100px;
                        cursor: pointer;
                    }
                }
            }
            .text{
                margin-bottom: toRem(30);
                font-weight: 400;
                @include adaptiveValue("font-size", 16, 14);
                &.__item{
                    list-style: disc;
                    margin-left: 20px;
                }
                &.text__end{
                    margin-top: toRem(50);
                }
                @media (max-width:$mobile) {
                  margin-bottom: toRem(10);
                  &.text__end{
                    margin-top: toRem(10);
                }
                  
                } 
            }
            .text__second{
                max-width: toRem(430);
            }
            @media (max-width:$mobileSmall) {
              min-height: 220px;
            }
        }
        &__link{
            float: right;
            margin-top: toRem(-14);
            font-weight: 400;
            color: $goldDark;
            @include adaptiveValue("font-size", 16, 14);
            @media (max-width:$mobile) {
                margin-top: toRem(30);
            }
        }
        @media (min-width:0) and (max-width:$mobile){
            &__information{
              padding: toRem(20) toRem(7);
                &__logos{
                    display: none;
                  
                }
            } 
        }
    }
  
  }
}
