.wrapper{
    .selectedProduct{
        &__container{
            padding-top: toRem(30);
        }
        &__cards{
            display: flex;
            gap: toRem(30);
            margin-bottom: 20px;
            @media (min-width: 0) {
                @include gridCards("fit", toRem(300), 1fr);
            }

            @media (min-width: $pcSmall) {
                @include gridCards("fit", toRem(240), 1fr);
                @include gridCards(fit, 1fr, 1fr, toRem(30));
                @include adaptiveValue("column-gap", 52, 30);
                @include adaptiveValue("row-gap", 65, 20);  
            }
           
        }
        &__card{
            @media (min-width: 0) {
                margin: 0 auto; 
            }
        }
        &__title{
            font-size: toRem(24);
            font-weight: 500;
            text-transform: uppercase;
            text-align: center;
            @include adaptiveValue("margin-top",60,24);
            @include adaptiveValue("margin-bottom",57,24);
    
        }
    
    }
    #swiper{
        @include adaptiveValue("margin-bottom",60,24)
    }
}